# < 시계열 데이터3 >
## 주어진 데이터에서 2022년 월별 Sales 합계 중 가장 큰 금액과 
## 2023년 월별 Sales 합계 중 가장 큰 금액의 차이를 절대값으로 구하시오. 
## 단 Events컬럼이 '1'인경우 80%의 Sales값만 반영함 
## (최종값은 소수점 반올림 후 정수 출력)
#
### - 데이터셋 : basic2.csv
### - 오른쪽 상단 copy&edit 클릭 -> 예상문제 풀이 시작

## 나의 코드

In [1]:
# 라이브러리 및 데이터 불러오기
import pandas as pd
data = pd.read_csv("/kaggle/input/bigdatacertificationkr/basic2.csv")

# EDA
data.info()
data.head(5)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 730 entries, 0 to 729
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    730 non-null    object
 1   Sales   730 non-null    int64
 2   PV      730 non-null    int64
 3   UV      684 non-null    float64
 4   Events  730 non-null    int64
dtypes: float64(1), int64(3), object(1)
memory usage: 28.6+ KB

         Date     Sales      PV      UV  Events
0  2022-01-01  22711525  397349  4421.0       1
1  2022-01-02     36779    3969  2289.0       0
2  2022-01-03  13943875  373890     NaN       1
3  2022-01-04   8088593  142054  2157.0       0
4  2022-01-05   2395374  190684     NaN       0

In [2]:
# 'Date' 칼럼 datetime으로 변경
data['Date'] = pd.to_datetime(data['Date'])

# 'Date'에서 연/월 쪼개서 'Year', 'Month' 칼럼 가가
data['Year'] = data['Date'].dt.year
data['Month'] = data['Date'].dt.month

data.head()

        Date     Sales      PV      UV  Events  Year  Month
0 2022-01-01  22711525  397349  4421.0       1  2022      1
1 2022-01-02     36779    3969  2289.0       0  2022      1
2 2022-01-03  13943875  373890     NaN       1  2022      1
3 2022-01-04   8088593  142054  2157.0       0  2022      1
4 2022-01-05   2395374  190684     NaN       0  2022      1

### 2022년 월별 Sales 합계 중 가장 큰 금액 구하기 (단, 'Events'컬럼이 '1'인 경우, Sales값의 80%만 반영함.)

In [3]:
# 2022년 데이터 추출
data_2022 = data[data['Year'] == 2022].copy()
data_2022

          Date     Sales      PV      UV  Events  Year  Month
0   2022-01-01  22711525  397349  4421.0       1  2022      1
1   2022-01-02     36779    3969  2289.0       0  2022      1
2   2022-01-03  13943875  373890     NaN       1  2022      1
3   2022-01-04   8088593  142054  2157.0       0  2022      1
4   2022-01-05   2395374  190684     NaN       0  2022      1
..         ...       ...     ...     ...     ...   ...    ...
360 2022-12-27   9082658  401544  4246.0       1  2022     12
361 2022-12-28   2297686   40853  1332.0       0  2022     12
362 2022-12-29   3860833  205368  2069.0       1  2022     12
363 2022-12-30   8901188  123909  1448.0       0  2022     12
364 2022-12-31   2079846   33200   478.0       0  2022     12

[365 rows x 7 columns]

In [4]:
# 'Events'컬럼이 '1'인 경우, Sales값의 80%만 반영하는 조건 적용
data_2022['Sales'] = data_2022.apply(
    lambda row: row['Sales'] * 0.8 if row['Events'] == 1 else row['Sales'], axis=1)
    
data_2022_sales = data_2022.groupby('Month')['Sales'].sum()
data_2022_max_sales = data_2022_sales.max()
print(data_2022_max_sales)

197145878.0

### 2023년 월별 Sales 합계 중 가장 큰 금액 구하기 (단, 'Events'컬럼이 '1'인 경우, Sales값의 80%만 반영함.)

In [5]:
# 2022년 데이터 추출
data_2023 = data[data['Year'] == 2023].copy()
data_2023

          Date     Sales      PV      UV  Events  Year  Month
365 2023-01-01  39464371  457995  6716.0       1  2023      1
366 2023-01-02    169945    2134   247.0       0  2023      1
367 2023-01-03    144534    3399   371.0       0  2023      1
368 2023-01-04   1335449   18192   545.0       0  2023      1
369 2023-01-05   6731190   76194  1580.0       0  2023      1
..         ...       ...     ...     ...     ...   ...    ...
725 2023-12-27  33846609  415067  7360.0       1  2023     12
726 2023-12-28   3659566  208601  2262.0       1  2023     12
727 2023-12-29   1164008   14309   193.0       0  2023     12
728 2023-12-30   3977696   60935     NaN       0  2023     12
729 2023-12-31   3719764   60963  1507.0       0  2023     12

[365 rows x 7 columns]

In [6]:
# 'Events'컬럼이 '1'인 경우, Sales값의 80%만 반영하는 조건 적용
data_2023['Sales'] = data_2023.apply(
    lambda row: row['Sales'] * 0.8 if row['Events'] == 1 else row['Sales'], axis=1)
    
data_2023_sales = data_2023.groupby('Month')['Sales'].sum()
data_2023_max_sales = data_2023_sales.max()
print(data_2023_max_sales)

239619313.8

In [7]:
# 두 금액의 차이 구하기 (절대값, 소수점 반올림 하여 정수로 출력)
res = abs(data_2022_max_sales - data_2023_max_sales)
print(round(res))

# 정답 : 42473436

42473436

## 풀이 (예시답안)

In [8]:
# 라이브러리 불러오기
import pandas as pd

In [9]:
# 데이터 불러오기 (datatime컬럼 지정)
df = pd.read_csv("../input/bigdatacertificationkr/basic2.csv", 
                 parse_dates=['Date'])

In [10]:
df.head()

        Date     Sales      PV      UV  Events
0 2022-01-01  22711525  397349  4421.0       1
1 2022-01-02     36779    3969  2289.0       0
2 2022-01-03  13943875  373890     NaN       1
3 2022-01-04   8088593  142054  2157.0       0
4 2022-01-05   2395374  190684     NaN       0

In [11]:
# 날짜 컬럼 생성
df['year'] = df['Date'].dt.year
df['month'] = df['Date'].dt.month
df['day'] = df['Date'].dt.day
df['dayofweek'] = df['Date'].dt.dayofweek

In [12]:
# 이벤트가 1인 sales값은 80%만 반영

def event_sales(x):
    if x['Events'] == 1:
        x['Sales2'] = x['Sales']*0.8
    else:
        x['Sales2'] = x['Sales']
    return x


df = df.apply(lambda x: event_sales(x), axis=1) #1일 경우 row, 0일 경우 컬럼
df.head()

,Date,Sales,PV,UV,Events,year,month,day,dayofweek,Sales2
0,2022-01-01,22711525,397349,4421.0,1,2022,1,1,5,18169220.0
1,2022-01-02,36779,3969,2289.0,0,2022,1,2,6,36779.0
2,2022-01-03,13943875,373890,NaN,1,2022,1,3,0,11155100.0
3,2022-01-04,8088593,142054,2157.0,0,2022,1,4,1,8088593.0
4,2022-01-05,2395374,190684,NaN,0,2022,1,5,2,2395374.0

In [13]:
# 2022년 월별 합계 중 가장 큰 값
cond = df['year'] == 2022
df1 = df[cond]
sale1 = df1.groupby('month')['Sales2'].sum().max()
sale1

197145878.0

In [14]:
# 2023년 월별 합계 중 가장 큰 값
cond = df['year'] == 2023
df2 = df[cond]
sale2 = df2.groupby('month')['Sales2'].sum().max()
sale2

239619313.8

In [15]:
# 결과값 반올림 후 정수 출력
int(round(abs(sale1 - sale2),0))

42473436