<a href="https://colab.research.google.com/github/SYWoo02/Engineer_BigData_Analysis_10/blob/main/%5Bpy%5D_T1_3_%EA%B2%B0%EC%B8%A1%EC%B9%98_%EC%B2%98%EB%A6%AC(map_%ED%99%9C%EC%9A%A9)_Expected_Questions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 결측치 처리
*   결측치 처리
주어진 데이터에서 결측치가 80%이상 되는 컬럼은(변수는) 삭제하고, 80% 미만인 결측치가 있는 컬럼은 'city'별 중앙값으로 값을 대체하고 'f1'컬럼의 평균값을 출력하세요!
* 데이터셋 : basic1.csv 오른쪽 상단 copy&edit 클릭 -> 예상문제 풀이 시작
* 강의 영상 : https://youtu.be/WqlpqBRn7x4

## Hint
* city별 중앙값으로 대체에서는 map함수 활용

## 라이브러리 및 데이터 불러오기

In [18]:
import pandas as pd
import numpy as np
data = pd.read_csv("basic1.csv")
data.head(5)

     id   age city    f1  f2   f3    f4         f5
0  id01   2.0   서울   NaN   0  NaN  ENFJ  91.297791
1  id02   9.0   서울  70.0   1  NaN  ENFJ  60.339826
2  id03  27.0   서울  61.0   1  NaN  ISTJ  17.252986
3  id04  75.0   서울   NaN   2  NaN  INFP  52.667078
4  id05  24.0   서울  85.0   2  NaN  ISFJ  29.269869

## EDA - 결측값 확인(비율 확인)

In [19]:
# 칼럼 별 결측치 개수 확인
data.isnull().sum()

id       0
age      0
city     0
f1      31
f2       0
f3      95
f4       0
f5       0
dtype: int64

In [20]:
# 칼럼 별 결측치 비율 확인
data.isnull().mean() * 100

id       0.0
age      0.0
city     0.0
f1      31.0
f2       0.0
f3      95.0
f4       0.0
f5       0.0
dtype: float64

## 80%이상 결측치 컬럼, 삭제

In [25]:
up_80 = data.isnull().mean() * 100 >= 80
# up_80
data2 = data.drop('f3', axis=1)

print("80%이상 결측치 컬럼 삭제 전,:",data.shape)
print("80%이상 결측치 컬럼 삭제 후,:",data2.shape)

80%이상 결측치 컬럼 삭제 전,: (100, 8)
80%이상 결측치 컬럼 삭제 후,: (100, 7)

In [39]:
data2['city'].value_counts()

city
경기    41
서울    20
대구    20
부산    19
Name: count, dtype: int64

## 80%미만 결측치 컬럼, city별 중앙값으로 대체

In [42]:
# city별 f1의 중앙값 계산
k, d, b, s = data2.groupby('city')['f1'].median()

# f1 결측치 대체 (city별 중앙값)
data2['f1'] = data2['f1'].fillna(data2['city'].map({'서울':s,'경기':k,'부산':b,'대구':d}))
data2.isnull().sum()

id      0
age     0
city    0
f1      0
f2      0
f4      0
f5      0
dtype: int64

## f1 평균값 결과 출력

In [41]:
mean = data2['f1'].mean()
print(mean)

65.52