## 조건에 맞는 데이터 표준편차 구하기
- 주어진 데이터 중 basic1.csv에서 'f4'컬럼 값이 'ENFJ'와 'INFP'인 'f1'의 표준편차 차이를 절대값으로 구하시오
- 데이터셋 : basic1.csv
- 오른쪽 상단 copy&edit 클릭 -> 예상문제 풀이 시작

In [1]:
# 라이브러리 및 데이터 불러오기
import pandas as pd
import numpy as np
data = pd.read_csv("/kaggle/input/bigdatacertificationkr/basic1.csv")
data.head(5)

     id   age city    f1  f2   f3    f4         f5
0  id01   2.0   서울   NaN   0  NaN  ENFJ  91.297791
1  id02   9.0   서울  70.0   1  NaN  ENFJ  60.339826
2  id03  27.0   서울  61.0   1  NaN  ISTJ  17.252986
3  id04  75.0   서울   NaN   2  NaN  INFP  52.667078
4  id05  24.0   서울  85.0   2  NaN  ISFJ  29.269869

In [2]:
# 조건에 맞는 데이터 추출 ('f4'컬럼 값이 'ENFJ','INFP')
cond1 = data['f4'] == 'ENFJ'
cond2 = data['f4'] == 'INFP'
ENFJ = data[cond1]
INFP = data[cond2]
ENFJ

      id   age city    f1  f2   f3    f4         f5
0   id01   2.0   서울   NaN   0  NaN  ENFJ  91.297791
1   id02   9.0   서울  70.0   1  NaN  ENFJ  60.339826
32  id33  47.0   부산  94.0   0  NaN  ENFJ  17.252986
40  id41  81.0   대구  55.0   0  NaN  ENFJ  37.113739
44  id45  97.0   대구  88.0   0  NaN  ENFJ  13.049921
53  id54  53.0   대구   NaN   1  NaN  ENFJ  69.730313

In [3]:
INFP

      id    age city    f1  f2   f3    f4         f5
3   id04   75.0   서울   NaN   2  NaN  INFP  52.667078
33  id34   65.0   부산   NaN   1  NaN  INFP  48.431184
76  id77   77.0   경기  31.0   0  NaN  INFP  98.429899
91  id92   97.0   경기  78.0   1  NaN  INFP  97.381034
96  id97  100.0   경기   NaN   0  NaN  INFP  67.886373
97  id98   39.0   경기  58.0   2  NaN  INFP  98.429899

In [4]:
# 조건에 맞는 f1의 표준편차 (ENFJ, INFP)
std_ENFJ = ENFJ['f1'].std()
std_ENFJ

17.727097901235837

In [5]:
# 조건에 맞는 f1의 표준편차 (ENFJ, INFP)
std_INFP = INFP['f1'].std()
std_INFP

23.586719427112648

In [6]:
# 두 표준편차 차이 절대값 출력
res = abs(std_ENFJ - std_INFP)
print(res)

5.859621525876811

## Hint
- 절대 값 : np.abs()
- 표준편차 : DataFrame.std()

## 풀이

In [7]:
# 라이브러리 및 데이터 불러오기
import pandas as pd
import numpy as np

df = pd.read_csv('../input/bigdatacertificationkr/basic1.csv')
df.head()

     id   age city    f1  f2   f3    f4         f5
0  id01   2.0   서울   NaN   0  NaN  ENFJ  91.297791
1  id02   9.0   서울  70.0   1  NaN  ENFJ  60.339826
2  id03  27.0   서울  61.0   1  NaN  ISTJ  17.252986
3  id04  75.0   서울   NaN   2  NaN  INFP  52.667078
4  id05  24.0   서울  85.0   2  NaN  ISFJ  29.269869

In [8]:
# 조건에 맞는 데이터
df[df['f4']=='ENFJ']

      id   age city    f1  f2   f3    f4         f5
0   id01   2.0   서울   NaN   0  NaN  ENFJ  91.297791
1   id02   9.0   서울  70.0   1  NaN  ENFJ  60.339826
32  id33  47.0   부산  94.0   0  NaN  ENFJ  17.252986
40  id41  81.0   대구  55.0   0  NaN  ENFJ  37.113739
44  id45  97.0   대구  88.0   0  NaN  ENFJ  13.049921
53  id54  53.0   대구   NaN   1  NaN  ENFJ  69.730313

In [9]:
df[df['f4']=='ENFJ']['f1'].std()

17.727097901235837

In [10]:
# 조건에 맞는 f1의 표준편차
enfj = df[df['f4']=='ENFJ']['f1'].std()
enfj

17.727097901235837

In [11]:
# 조건에 맞는 f1의 표준편차
infp = df[df['f4']=='INFP']['f1'].std()
infp

23.586719427112648

In [12]:
# 두 표준편차 차이 절대값 출력
print(np.abs(enfj - infp))

5.859621525876811