## 고객과 잘 맞는 타입 추천 :)
### basic1 데이터와 basic3 데이터를 basic1의 'f4'값을 기준으로 병합하고, 
### 병합한 데이터에서 r2결측치를 제거한다음, 앞에서 부터 20개 데이터를 선택하고 'f2'컬럼 합을 구하시오

- basic1.csv: 고객 데이터 
- basic3.csv: 잘 어울리는 관계 데이터 (추천1:r1, 추천2:r2)

## 나의 코드

In [1]:
# 라이브러리 및 데이터 불러오기
import pandas as pd
import pandas as np
data1 =  pd.read_csv("../input/bigdatacertificationkr/basic1.csv")
data2 = pd.read_csv("../input/bigdatacertificationkr/basic3.csv")

print(data1)
print(data2)

       id    age city    f1  f2   f3    f4         f5
0    id01    2.0   서울   NaN   0  NaN  ENFJ  91.297791
1    id02    9.0   서울  70.0   1  NaN  ENFJ  60.339826
2    id03   27.0   서울  61.0   1  NaN  ISTJ  17.252986
3    id04   75.0   서울   NaN   2  NaN  INFP  52.667078
4    id05   24.0   서울  85.0   2  NaN  ISFJ  29.269869
..    ...    ...  ...   ...  ..  ...   ...        ...
95   id96   92.0   경기  53.0   1  NaN  ENTJ  52.667078
96   id97  100.0   경기   NaN   0  NaN  INFP  67.886373
97   id98   39.0   경기  58.0   2  NaN  INFP  98.429899
98   id99    1.0   경기  47.0   0  NaN  ESFJ  97.381034
99  id100   47.0   경기  53.0   0  vip  ESFP  33.308999

[100 rows x 8 columns]
      f4    r1    r2
0   INFP  ENFJ  ENTJ
1   ENFP  INFJ   NaN
2   INFJ  ENFP  ENTP
3   ENFJ  INFP  ISFP
4   INTJ  ENFP  ENTP
5   ENTJ  INFP   NaN
6   INTP  ENTJ  ESTJ
7   ENTP  INFJ  INTJ
8   ISFP  ENFJ  ESFJ
9   ESFP  ISFJ  ISTJ
10  ISTP  ESFJ   NaN
11  ESTP  ISFJ  ISTJ
12  ISFJ  ESFP  ESTP
13  ESFJ  ISFP  ISTP
14  ISTJ  ESFP   NaN
15  ESTJ  INTP  ISFP

In [2]:
# EDA
data1.isnull().sum()

id       0
age      0
city     0
f1      31
f2       0
f3      95
f4       0
f5       0
dtype: int64

In [3]:
# EDA
data2.isnull().sum()

f4    0
r1    0
r2    4
dtype: int64

In [4]:
# 데이터 basic1 (data1)와 데이터 basic3 (data2)를 basic1의 'f4'값을 기준으로 병합
merged_data = pd.merge(data1, data2, how = "left", on ='f4')
merged_data

       id    age city    f1  f2   f3    f4         f5    r1    r2
0    id01    2.0   서울   NaN   0  NaN  ENFJ  91.297791  INFP  ISFP
1    id02    9.0   서울  70.0   1  NaN  ENFJ  60.339826  INFP  ISFP
2    id03   27.0   서울  61.0   1  NaN  ISTJ  17.252986  ESFP   NaN
3    id04   75.0   서울   NaN   2  NaN  INFP  52.667078  ENFJ  ENTJ
4    id05   24.0   서울  85.0   2  NaN  ISFJ  29.269869  ESFP  ESTP
..    ...    ...  ...   ...  ..  ...   ...        ...   ...   ...
95   id96   92.0   경기  53.0   1  NaN  ENTJ  52.667078  INFP   NaN
96   id97  100.0   경기   NaN   0  NaN  INFP  67.886373  ENFJ  ENTJ
97   id98   39.0   경기  58.0   2  NaN  INFP  98.429899  ENFJ  ENTJ
98   id99    1.0   경기  47.0   0  NaN  ESFJ  97.381034  ISFP  ISTP
99  id100   47.0   경기  53.0   0  vip  ESFP  33.308999  ISFJ  ISTJ

[100 rows x 10 columns]

In [5]:
# 병합한 데이터의 결측치 개수 파악
print("결측치 제거 전 칼럼 별 결측치 개수 파악: \n",merged_data.isnull().sum())

# 병합한 데이터에서 'r2' 칼럼의 결측치를 제거
merged_data2 = merged_data.dropna(subset=['r2'],axis = 0)

# 'r2'칼럼의 결측치 제거가 잘 되었는지 확인 
print("\n결측치 제거 후 칼럼 별 결측치 개수 파악: \n",merged_data2.isnull().sum())

결측치 제거 전 칼럼 별 결측치 개수 파악:
 id       0
age      0
city     0
f1      31
f2       0
f3      95
f4       0
f5       0
r1       0
r2      17
dtype: int64

결측치 제거 후 칼럼 별 결측치 개수 파악:
 id       0
age      0
city     0
f1      27
f2       0
f3      78
f4       0
f5       0
r1       0
r2       0
dtype: int64

In [6]:
# 앞에서 부터 20개 데이터를 선택하고 'f2'컬럼 합을 구하기
top20 = merged_data2.head(20)
top20_f2_sum = top20['f2'].sum()
print(top20['f2'])
print('\n',top20_f2_sum)

0     0
1     1
3     2
4     2
5     0
6     1
7     1
8     2
9     1
11    0
12    0
14    1
15    0
17    2
18    0
19    1
20    1
23    0
24    0
26    0
Name: f2, dtype: int64

 15

## 풀이 (예시답안)

In [7]:
# 라이브러리 및 데이터 로드
import pandas as pd
b1 = pd.read_csv("../input/bigdatacertificationkr/basic1.csv")
b3 = pd.read_csv("../input/bigdatacertificationkr/basic3.csv")

In [8]:
b1.head()

     id   age city    f1  f2   f3    f4         f5
0  id01   2.0   서울   NaN   0  NaN  ENFJ  91.297791
1  id02   9.0   서울  70.0   1  NaN  ENFJ  60.339826
2  id03  27.0   서울  61.0   1  NaN  ISTJ  17.252986
3  id04  75.0   서울   NaN   2  NaN  INFP  52.667078
4  id05  24.0   서울  85.0   2  NaN  ISFJ  29.269869

In [9]:
b3.head()

     f4    r1    r2
0  INFP  ENFJ  ENTJ
1  ENFP  INFJ   NaN
2  INFJ  ENFP  ENTP
3  ENFJ  INFP  ISFP
4  INTJ  ENFP  ENTP

In [10]:
# 데이터 결합(b1을 기준으로 결합) 
df = pd.merge(left = b1 , right = b3, how = "left", on = "f4")
df.head()

     id   age city    f1  f2   f3    f4         f5    r1    r2
0  id01   2.0   서울   NaN   0  NaN  ENFJ  91.297791  INFP  ISFP
1  id02   9.0   서울  70.0   1  NaN  ENFJ  60.339826  INFP  ISFP
2  id03  27.0   서울  61.0   1  NaN  ISTJ  17.252986  ESFP   NaN
3  id04  75.0   서울   NaN   2  NaN  INFP  52.667078  ENFJ  ENTJ
4  id05  24.0   서울  85.0   2  NaN  ISFJ  29.269869  ESFP  ESTP

In [11]:
df.tail()

       id    age city    f1  f2   f3    f4         f5    r1    r2
95   id96   92.0   경기  53.0   1  NaN  ENTJ  52.667078  INFP   NaN
96   id97  100.0   경기   NaN   0  NaN  INFP  67.886373  ENFJ  ENTJ
97   id98   39.0   경기  58.0   2  NaN  INFP  98.429899  ENFJ  ENTJ
98   id99    1.0   경기  47.0   0  NaN  ESFJ  97.381034  ISFP  ISTP
99  id100   47.0   경기  53.0   0  vip  ESFP  33.308999  ISFJ  ISTJ

In [12]:
# 결측치 확인
df.isnull().sum()

id       0
age      0
city     0
f1      31
f2       0
f3      95
f4       0
f5       0
r1       0
r2      17
dtype: int64

In [13]:
# r2컬럼 결측치 제거
print(df.shape)
df = df.dropna(subset=['r2'])
print(df.shape)

(100, 10)
(83, 10)

In [14]:
# 인덱스 리셋
df = df.reset_index()

In [15]:
# 앞에서 부터 20개 데이터를 선택하고 'f2'컬럼 합
print(df.iloc[:20]['f2'].sum())

15

In [16]:
df.iloc[:20]['f2']

0     0
1     1
2     2
3     2
4     0
5     1
6     1
7     2
8     1
9     0
10    0
11    1
12    0
13    2
14    0
15    1
16    1
17    0
18    0
19    0
Name: f2, dtype: int64