<a href="https://colab.research.google.com/github/SYWoo02/Engineer_BigData_Analysis_10/blob/main/part1_1_~_5_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Section 01 필터링, 최솟값, 중앙값

In [328]:
import pandas as pd
df1 = pd.read_csv('type1_data1.csv')
df1.head()

     id   age city    f1  f2    f3    f4         f5  subscribed   views
0  id01   2.0   서울   NaN   0  gold  ENFJ  91.297791  2024-07-16  6820.0
1  id02   9.0   서울  70.0   1   NaN  ENFJ  60.339826  2024-05-12  2534.0
2  id03  27.0   서울  61.0   1  gold  ISTJ  17.252986  2024-03-16  7312.0
3  id04  75.0   서울   NaN   2   NaN  INFP  52.667078  2024-07-21   493.0
4  id05  24.0   서울  85.0   2   NaN  ISFJ  29.269869  2024-03-07  1338.0

## 1. 'f5' 컬럼이 0이 아닌 데이터(행)을 구하시오.

In [329]:
df_f5_non_zero = df1[df1['f5'] != 0]
df_f5_non_zero['f5']

0      91.297791
1      60.339826
2      17.252986
3      52.667078
4      29.269869
         ...
97     67.886373
98     98.429899
99     97.381034
100    33.308999
101    67.886373
Name: f5, Length: 102, dtype: float64

## 2. 앞에서 구한 데이터에 'views' 컬럼 결측치를 'views' 컬럼의 최솟값으로 채워주세요.

In [330]:
## 'views' 컬럼에 결측치는 몇 개?
df_f5_non_zero.isnull().sum()

id             0
age            0
city           0
f1            31
f2             0
f3            28
f4             0
f5             0
subscribed     0
views          4
dtype: int64

In [331]:
min = df_f5_non_zero['views'].min()
df_f5_non_zero['views'].fillna(min, inplace=True)

## 'views' 컬럼에 결측치가 없음을 확인!
df_f5_non_zero.isnull().sum()

<ipython-input-331-5d8bff2771b9>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_f5_non_zero['views'].fillna(min, inplace=True)
<ipython-input-331-5d8bff2771b9>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_f5_non_zero['views'].fillna(min, inplace=True)

id             0
age            0
city           0
f1            31
f2             0
f3            28
f4             0
f5             0
subscribed     0
views          0
dtype: int64

## 3. 그리고 'views' 컬럼의 중앙값을 계산해 정수로 구하시오.

In [332]:
median = df_f5_non_zero['views'].median()
print(int(median))

5924

# Section 02 카테고리, 인덱스, 문자열 슬라이싱

In [334]:
import pandas as pd
df2 = pd.read_csv('type1_data1.csv')
df2.head()

     id   age city    f1  f2    f3    f4         f5  subscribed   views
0  id01   2.0   서울   NaN   0  gold  ENFJ  91.297791  2024-07-16  6820.0
1  id02   9.0   서울  70.0   1   NaN  ENFJ  60.339826  2024-05-12  2534.0
2  id03  27.0   서울  61.0   1  gold  ISTJ  17.252986  2024-03-16  7312.0
3  id04  75.0   서울   NaN   2   NaN  INFP  52.667078  2024-07-21   493.0
4  id05  24.0   서울  85.0   2   NaN  ISFJ  29.269869  2024-03-07  1338.0

## 1. 'subscribed' 칼럼에서 가장 빈도수가 많은 날짜를 구하시오.

In [335]:
days = df2['subscribed'].value_counts().index[0]
print(days)

2025-02-17

## 2. 앞에서 구한 날짜의 일(day) 값을 정수로 구하시오.

In [336]:
print(days[-2:])

17

# Section 03 파생변수, 정렬, 인덱싱

In [338]:
import pandas as pd
df3 = pd.read_csv('type1_data1.csv')
df3.head()

     id   age city    f1  f2    f3    f4         f5  subscribed   views
0  id01   2.0   서울   NaN   0  gold  ENFJ  91.297791  2024-07-16  6820.0
1  id02   9.0   서울  70.0   1   NaN  ENFJ  60.339826  2024-05-12  2534.0
2  id03  27.0   서울  61.0   1  gold  ISTJ  17.252986  2024-03-16  7312.0
3  id04  75.0   서울   NaN   2   NaN  INFP  52.667078  2024-07-21   493.0
4  id05  24.0   서울  85.0   2   NaN  ISFJ  29.269869  2024-03-07  1338.0

## 1. 결측치가 있는 데이터(행)을 제거하시오.

In [339]:
df_3 = df3
df_3.dropna(inplace=True)
df_3.isnull().sum()

id            0
age           0
city          0
f1            0
f2            0
f3            0
f4            0
f5            0
subscribed    0
views         0
dtype: int64

## 2. 'views' 컬럼을 'f1' 컬럼으로 니눈 값을 새로운 컬럼으로 추가하시오.

In [340]:
df_3['new'] = 0
df_3['new'] = df_3['views'] / df_3['f1']
df_3.head()

,id,age,city,f1,f2,f3,f4,f5,subscribed,views,new
2,id03,27.0,서울,61.0,1,gold,ISTJ,17.252986,2024-03-16,7312.0,119.868852
5,id06,22.0,서울,57.0,0,vip,INTP,20.129444,2024-09-12,21550.0,378.070175
7,id08,38.0,서울,101.0,1,silver,INFJ,83.685380,2024-03-06,3260.0,32.277228
9,id10,95.0,서울,74.0,1,gold,ISFP,98.429899,2024-04-03,9992.0,135.027027
10,id100,47.0,경기,53.0,0,vip,ESFP,33.308999,2024-02-21,15535.0,293.113208

## 3. 새로운 컬럼 값 중 가장 큰 값을 가진 행의 age를 정수로 구하시오.

In [341]:
# max = df['new'].max()
# idx = df[df['new'] == max]['age']
# int(idx)

# 내림차순 정렬
df_3_ = df_3.sort_values('new', ascending=False)
int(df_3_.iloc[0,1])

22

# Section 04 값 변경, 정렬, 합계

In [342]:
import pandas as pd
df4 = pd.read_csv('type1_data1.csv')
df4.head()

     id   age city    f1  f2    f3    f4         f5  subscribed   views
0  id01   2.0   서울   NaN   0  gold  ENFJ  91.297791  2024-07-16  6820.0
1  id02   9.0   서울  70.0   1   NaN  ENFJ  60.339826  2024-05-12  2534.0
2  id03  27.0   서울  61.0   1  gold  ISTJ  17.252986  2024-03-16  7312.0
3  id04  75.0   서울   NaN   2   NaN  INFP  52.667078  2024-07-21   493.0
4  id05  24.0   서울  85.0   2   NaN  ISFJ  29.269869  2024-03-07  1338.0

## 1. 'views' 컬럼의 결측 데이터를 0으로 대체하시오.

In [343]:
df_4 = df4
df_4 = df_4.fillna(0)
df_4.isnull().sum()

id            0
age           0
city          0
f1            0
f2            0
f3            0
f4            0
f5            0
subscribed    0
views         0
dtype: int64

## 2. 'views' 컬럼에서 상위 10번째 값을 구하시오.

In [344]:
df_4 = df_4.sort_values('views', ascending=False)
df_4['views'].head(10)

5      21550.0
56     19589.0
83     19139.0
32     17421.0
10     15535.0
100    15535.0
104    13543.0
114    10346.0
9       9992.0
113     9877.0
Name: views, dtype: float64

In [345]:
views_min = df_4.iloc[:10]['views'].min()
views_min

9877.0

## 3. 'views' 컬럼에서 상위 10개의 값을 상위 10번째 값으로 대체하시오.

In [346]:
df_4.iloc[:10, -1] = views_min
df_4.head(10)

        id   age city    f1  f2      f3    f4         f5  subscribed   views
5     id06  22.0   서울  57.0   0     vip  INTP  20.129444  2024-09-12  9877.0
56    id56  59.0   대구   0.0   1     vip  ESTJ  73.586397  2024-04-05  9877.0
83    id83  73.0   경기  50.0   1     vip  ENTP  80.138280  2024-09-26  9877.0
32    id32  25.0   부산  64.0   0     vip  ISFJ  13.049921  2024-05-24  9877.0
10   id100  47.0   경기  53.0   0     vip  ESFP  33.308999  2024-02-21  9877.0
100  id100  47.0   경기  53.0   0     vip  ESFP  33.308999  2024-02-21  9877.0
104  id103  21.0   부산  53.0   0     vip  ISFP   0.000000  2025-02-17  9877.0
114  id113  22.0   경기  34.0   2  silver  ENTP   0.000000  2025-02-17  9877.0
9     id10  95.0   서울  74.0   1    gold  ISFP  98.429899  2024-04-03  9877.0
113  id112  22.0   서울  45.0   2     vip  ENTP   0.000000  2025-02-17  9877.0

## 4. 'views' 컬럼의 전체 합을 정수로 구하시오.

In [347]:
sum = df_4['views'].sum()
print(int(sum))

652812

# Section 5 문자열 슬라이싱, 파생변수, 평균값

In [348]:
import pandas as pd
df5 = pd.read_csv('type1_data1.csv')
df5.head()

     id   age city    f1  f2    f3    f4         f5  subscribed   views
0  id01   2.0   서울   NaN   0  gold  ENFJ  91.297791  2024-07-16  6820.0
1  id02   9.0   서울  70.0   1   NaN  ENFJ  60.339826  2024-05-12  2534.0
2  id03  27.0   서울  61.0   1  gold  ISTJ  17.252986  2024-03-16  7312.0
3  id04  75.0   서울   NaN   2   NaN  INFP  52.667078  2024-07-21   493.0
4  id05  24.0   서울  85.0   2   NaN  ISFJ  29.269869  2024-03-07  1338.0

## 1. 'f4' 컬럼 데이터에 'FJ'가 포함된 데이터를 찾으시오.

In [349]:
df_5 = df5
cond = df_5['f4'].str.contains('FJ')
df_5 = df_5[cond]
df_5['f4']

0      ENFJ
1      ENFJ
4      ISFJ
6      ISFJ
7      INFJ
8      ESFJ
13     ESFJ
18     ISFJ
24     INFJ
31     ESFJ
32     ISFJ
33     ENFJ
39     INFJ
41     ENFJ
45     ENFJ
52     ISFJ
54     ENFJ
57     ISFJ
59     ESFJ
63     ISFJ
67     ISFJ
73     ISFJ
81     ISFJ
85     INFJ
99     ESFJ
105    ESFJ
106    ESFJ
119    ESFJ
Name: f4, dtype: object

## 2. 찾은 데이터 중에서 'f2' 컬럼의 평균값을 구하시오. (반올림 후 소수 둘째 자리까지 계산)

In [350]:
mean = df_5['f2'].mean()
print(round(mean,2))

0.61