# T1-29. 12월인 데이터 수는?

In [1]:
import pandas as pd
df = pd.read_csv("/kaggle/input/bigdatacertificationkr/payment.csv")
df.head(5)

       date  hour   menu  price
0  20221129    13   딸기라떼   4000
1  20221130    12   카페라떼   3000
2  20221201    14  바닐라라떼   3500
3  20221201    16   초코라떼   3500
4  20221202    17   모카라떼   3500

## 나의 코드

In [2]:
# 'date'칼럼을 datetime으로 변경 (date가 %Y%m%d 형태임을 잊지 말자 !)
df['date'] = pd.to_datetime(df['date'], format='%Y%m%d')

# month 추출
df['month'] = df['date'].dt.month
df

         date  hour    menu  price  month
0  2022-11-29    13    딸기라떼   4000     11
1  2022-11-30    12    카페라떼   3000     11
2  2022-12-01    14   바닐라라떼   3500     12
3  2022-12-01    16    초코라떼   3500     12
4  2022-12-02    17    모카라떼   3500     12
5  2022-12-02    12   카라멜라떼   3500     12
6  2022-12-03     8   챠이 라떼   3500     12
7  2022-12-03     9   아메리카노   2000     12
8  2022-12-03    15   오곡 라떼   4000     12
9  2022-12-03    16   아메리카노   2000     12
10 2022-12-25    10   아메리카노   2000     12
11 2022-12-25    14  토피넛 라떼   4000     12
12 2022-12-25    16   카페 라떼   3000     12

In [3]:
# 12월인 데이터의 수는 ?
print(len(df[df['month'] == 12]))

# 정답: 11

11

## 풀이 (예시답안)

In [4]:
data = pd.read_csv("/kaggle/input/bigdatacertificationkr/payment.csv")
data['date'] = pd.to_datetime(data['date'], format='%Y%m%d')
print(sum(data['date'].dt.month == 12))

11