## f1의 결측치를 채운 후 age 컬럼의 중복 제거 전과 후의 'f1' 중앙값 차이를 구하시오 
### - 결측치는 'f1' 데이터에서 큰 값 순으로 정렬했을 때 10번째에 위치한 값으로 채운다.
### - 중복 데이터 발생시 뒤에 나오는 데이터를 삭제함
### - 최종 결과값은 절대값으로 출력
(중복 제거 기준: 제공된 데이터 순서대로 중복 데이터 발생시 뒤에 나오는 데이터를 삭제함)


- 데이터셋 : basic1.csv
- 오른쪽 상단 copy&edit 클릭 -> 예상문제 풀이 시작

## 나의 코드

In [1]:
# 라이브러리 및 데이터 불러오기
import pandas as pd
import numpy as np
data = pd.read_csv("/kaggle/input/bigdatacertificationkr/basic1.csv")
data.tail(5)

       id    age city    f1  f2   f3    f4         f5
95   id96   92.0   경기  53.0   1  NaN  ENTJ  52.667078
96   id97  100.0   경기   NaN   0  NaN  INFP  67.886373
97   id98   39.0   경기  58.0   2  NaN  INFP  98.429899
98   id99    1.0   경기  47.0   0  NaN  ESFJ  97.381034
99  id100   47.0   경기  53.0   0  vip  ESFP  33.308999

In [2]:
# 결측치 확인
data.isnull().sum()

id       0
age      0
city     0
f1      31
f2       0
f3      95
f4       0
f5       0
dtype: int64

In [3]:
# 'f1'칼럼의 결측치 대치 (큰 값 순으로 정렬했을 때 10번째에 위치한 값)

# 큰 값 순으로 정렬했을 때 10번째에 위치한 값 찾기 ; 88.0
ten = data['f1'].sort_values(ascending=False).iloc[9]
data['f1'] = data['f1'].fillna(ten)

# 'f1'칼럼의 결측치 대치가 잘 되었는지 확인 ; 31 -> 0
data.isnull().sum()

id       0
age      0
city     0
f1       0
f2       0
f3      95
f4       0
f5       0
dtype: int64

In [4]:
# 'age'컬럼의 중복 제거하기 (제공된 데이터 순서대로 중복 데이터 발생 시 뒤에 나오는 데이터를 삭제)
# drop_duplicates(): 중복 제거 시 사용하는 함수
data2 = data.drop_duplicates('age')

# 중복 제거가 잘 되었는지 확인
print(len(data), len(data2))

100 71

In [5]:
# 중복 제거 전,후의 'f1' 중앙값 차이를 구하기 (절댓값)
before_m = data['f1'].median()
after_m = data2['f1'].median()
res = abs(before_m - after_m)
print(res)

# 정답: 0.5

0.5

## 풀이 (예시답안)

In [6]:
import pandas as pd

In [7]:
df = pd.read_csv('../input/bigdatacertificationkr/basic1.csv')
df.tail()

       id    age city    f1  f2   f3    f4         f5
95   id96   92.0   경기  53.0   1  NaN  ENTJ  52.667078
96   id97  100.0   경기   NaN   0  NaN  INFP  67.886373
97   id98   39.0   경기  58.0   2  NaN  INFP  98.429899
98   id99    1.0   경기  47.0   0  NaN  ESFJ  97.381034
99  id100   47.0   경기  53.0   0  vip  ESFP  33.308999

In [8]:
# f1데이터에서 10번째 큰 값으로 결측치를 채움
top10 = df['f1'].sort_values(ascending=False).iloc[9]
print(top10)
df['f1'] = df['f1'].fillna(top10)

88.0

In [9]:
# 중복 제거 전 중앙 값
result1 = df['f1'].median()
result1

77.5

In [10]:
# 중복 제거
print(df.shape)
df = df.drop_duplicates(subset=['age'])
print(df.shape)

(100, 8)
(71, 8)

In [11]:
# 중복 제거 후 중앙 값
result2 = df['f1'].median()
result2

77.0

In [12]:
# 차이 (절대값)
print(abs(result1 - result2))

0.5