## basic1 데이터에서 f4가 E로 시작하면서 부산에 살고 20대인 사람은 몇 명일까요?

In [1]:
import pandas as pd
df = pd.read_csv("../input/bigdatacertificationkr/basic1.csv")
df

       id    age city    f1  f2   f3    f4         f5
0    id01    2.0   서울   NaN   0  NaN  ENFJ  91.297791
1    id02    9.0   서울  70.0   1  NaN  ENFJ  60.339826
2    id03   27.0   서울  61.0   1  NaN  ISTJ  17.252986
3    id04   75.0   서울   NaN   2  NaN  INFP  52.667078
4    id05   24.0   서울  85.0   2  NaN  ISFJ  29.269869
..    ...    ...  ...   ...  ..  ...   ...        ...
95   id96   92.0   경기  53.0   1  NaN  ENTJ  52.667078
96   id97  100.0   경기   NaN   0  NaN  INFP  67.886373
97   id98   39.0   경기  58.0   2  NaN  INFP  98.429899
98   id99    1.0   경기  47.0   0  NaN  ESFJ  97.381034
99  id100   47.0   경기  53.0   0  vip  ESFP  33.308999

[100 rows x 8 columns]

## 나의 코드

In [2]:
# 조건 1) basic1 데이터에서 f4가 E로 시작
cond1 = df['f4'].str[0] == 'E'
cond1

0      True
1      True
2     False
3     False
4     False
      ...
95     True
96    False
97    False
98     True
99     True
Name: f4, Length: 100, dtype: bool

In [3]:
# 조건 2) 부산 거주
cond2 = df['city'] == '부산'
cond2

0     False
1     False
2     False
3     False
4     False
      ...
95    False
96    False
97    False
98    False
99    False
Name: city, Length: 100, dtype: bool

In [4]:
# 조건 3) 20대
cond3 = (df['age'] >= 20) & (df['age'] < 30)
cond3

0     False
1     False
2      True
3     False
4      True
      ...
95    False
96    False
97    False
98    False
99    False
Name: age, Length: 100, dtype: bool

In [5]:
print(len(df[cond1 & cond2 & cond3]))

0

## 풀이 (예시답안)

In [6]:
import pandas as pd
df = pd.read_csv("../input/bigdatacertificationkr/basic1.csv")
df['EI'] = df['f4'].str[:1]
cond1 = df['EI'] == "E"
cond2 = df['city'] == "부산"
cond3 = (df['age'] >= 20) & (df['age'] < 30)

print(len(df[cond1 & cond2 & cond3]))

0