## T1-30. 12월 25일 결제 금액(price)은 12월 총 결제금액의 몇 %인가? (정수로 출력)

In [1]:
import pandas as pd
df = pd.read_csv("/kaggle/input/bigdatacertificationkr/payment.csv")
df

        date  hour    menu  price
0   20221129    13    딸기라떼   4000
1   20221130    12    카페라떼   3000
2   20221201    14   바닐라라떼   3500
3   20221201    16    초코라떼   3500
4   20221202    17    모카라떼   3500
5   20221202    12   카라멜라떼   3500
6   20221203     8   챠이 라떼   3500
7   20221203     9   아메리카노   2000
8   20221203    15   오곡 라떼   4000
9   20221203    16   아메리카노   2000
10  20221225    10   아메리카노   2000
11  20221225    14  토피넛 라떼   4000
12  20221225    16   카페 라떼   3000

## 나의 코드

In [2]:
# 'date'칼럼을 datetime으로 변경 (date가 %Y%m%d 형태임을 잊지 말자 !)
df['date'] = pd.to_datetime(df['date'], format='%Y%m%d')

# month 추출
df['month'] = df['date'].dt.month
# day 추출
df['day'] = df['date'].dt.day

df

         date  hour    menu  price  month  day
0  2022-11-29    13    딸기라떼   4000     11   29
1  2022-11-30    12    카페라떼   3000     11   30
2  2022-12-01    14   바닐라라떼   3500     12    1
3  2022-12-01    16    초코라떼   3500     12    1
4  2022-12-02    17    모카라떼   3500     12    2
5  2022-12-02    12   카라멜라떼   3500     12    2
6  2022-12-03     8   챠이 라떼   3500     12    3
7  2022-12-03     9   아메리카노   2000     12    3
8  2022-12-03    15   오곡 라떼   4000     12    3
9  2022-12-03    16   아메리카노   2000     12    3
10 2022-12-25    10   아메리카노   2000     12   25
11 2022-12-25    14  토피넛 라떼   4000     12   25
12 2022-12-25    16   카페 라떼   3000     12   25

In [3]:
# 12월 25일의 결제 금액은 12월 총 결제금액의 몇 %인가? (정수로 출력)
data_12 = df[df['month'] == 12]

# 12월 25일
data_12_25 = data_12[data_12['day'] == 25]

# 12월 25일 하루 결제 금액
data_12_25_sum = data_12_25['price'].sum()

# 12월 달 전체 결제 금액
data_12_sum = data_12['price'].sum()

print(int(data_12_25_sum / data_12_sum * 100),"%")

26 %

## 풀이 (예시답안)

In [4]:
df['date'] = pd.to_datetime(df['date'], format='%Y%m%d')
cond1 = df['date'].dt.month == 12
cond2 = df['date'].dt.day == 25
result = sum(df[cond1 & cond2]['price']) / sum(df[cond1]['price'])
print(int(result*100))

26