## Q. 수학, 영어 점수 중 사람과 과목에 상관없이 90점 이상인 점수의 평균을 정수로 구하시오 (소수점 버림)
- updated 22.12.2

In [1]:
import pandas as pd
df = pd.DataFrame({'Name': {0: '김딴짓', 1: '박분기', 2: '이퇴근'},
                   '수학': {0: 90, 1: 93, 2: 85},
                   '영어': {0: 92, 1: 84, 2: 86},
                   '국어': {0: 91, 1: 94, 2: 83},})

df

  Name  수학  영어  국어
0  김딴짓  90  92  91
1  박분기  93  84  94
2  이퇴근  85  86  83

## 나의 코드

In [2]:
data = pd.melt(df, ['Name','국어'])
data

  Name  국어 variable  value
0  김딴짓  91       수학     90
1  박분기  94       수학     93
2  이퇴근  83       수학     85
3  김딴짓  91       영어     92
4  박분기  94       영어     84
5  이퇴근  83       영어     86

In [3]:
# 수학, 영어 중 과목 상관없이 점수가 90점 이상인 점수의 평균 출력하기 (소수점을 버려서 정수로)
cond = data['value'] >= 90
over90 = data[cond]
print(int(over90['value'].mean()))

91

## 풀이 (예시답안)

In [4]:
df = pd.melt(df, id_vars=['Name'], value_vars=['수학', '영어'])
cond = df['value'] >= 90
print(int(df[cond]['value'].mean()))

91