# 시계열 데이터1
## 2022년 5월 sales의 중앙값을 구하시오

### - 데이터셋 : basic2.csv 
### - 오른쪽 상단 copy&edit 클릭 -> 예상문제 풀이 시작

## 나의 코드

In [1]:
# 라이브러리 불러오기
import pandas as pd
import numpy as np
data = pd.read_csv("/kaggle/input/bigdatacertificationkr/basic2.csv")
data.head(5)

         Date     Sales      PV      UV  Events
0  2022-01-01  22711525  397349  4421.0       1
1  2022-01-02     36779    3969  2289.0       0
2  2022-01-03  13943875  373890     NaN       1
3  2022-01-04   8088593  142054  2157.0       0
4  2022-01-05   2395374  190684     NaN       0

In [2]:
# 결측치 파악
data.isnull().sum()

Date       0
Sales      0
PV         0
UV        46
Events     0
dtype: int64

In [3]:
# 'Date'칼럼을 datetime으로 변경
data['Date'] = pd.to_datetime(data['Date'])

# 'Year'와 'Month' 칼럼 추가 
data['Year'] = data['Date'].dt.year
data['Month'] = data['Date'].dt.month

# 2022년 5월 데이터 추출
cond1 = data['Year'] == 2022
cond2 = data['Month'] == 5
filtered_data = data[cond1 & cond2]

# 추출된 데이터 중 'Sales'칼럼의 중앙값 구하기
median = filtered_data['Sales'].median()
print(median)

1477685.0

## 풀이(예시답안)

In [4]:
# 라이브러리 불러오기
import pandas as pd

In [5]:
# 데이터 불러오기
df = pd.read_csv("../input/bigdatacertificationkr/basic2.csv")

In [6]:
df.head()

         Date     Sales      PV      UV  Events
0  2022-01-01  22711525  397349  4421.0       1
1  2022-01-02     36779    3969  2289.0       0
2  2022-01-03  13943875  373890     NaN       1
3  2022-01-04   8088593  142054  2157.0       0
4  2022-01-05   2395374  190684     NaN       0

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 730 entries, 0 to 729
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    730 non-null    object
 1   Sales   730 non-null    int64
 2   PV      730 non-null    int64
 3   UV      684 non-null    float64
 4   Events  730 non-null    int64
dtypes: float64(1), int64(3), object(1)
memory usage: 28.6+ KB

In [8]:
# datetime으로 type변경
df['Date'] = pd.to_datetime(df['Date'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 730 entries, 0 to 729
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    730 non-null    datetime64[ns]
 1   Sales   730 non-null    int64
 2   PV      730 non-null    int64
 3   UV      684 non-null    float64
 4   Events  730 non-null    int64
dtypes: datetime64[ns](1), float64(1), int64(3)
memory usage: 28.6 KB

In [9]:
# 새로운 컬럼 추가 (년, 월, 일)
df['year'] = df['Date'].dt.year
df['month'] = df['Date'].dt.month
df['day'] = df['Date'].dt.day

In [10]:
df.head()

        Date     Sales      PV      UV  Events  year  month  day
0 2022-01-01  22711525  397349  4421.0       1  2022      1    1
1 2022-01-02     36779    3969  2289.0       0  2022      1    2
2 2022-01-03  13943875  373890     NaN       1  2022      1    3
3 2022-01-04   8088593  142054  2157.0       0  2022      1    4
4 2022-01-05   2395374  190684     NaN       0  2022      1    5

In [11]:
# 문제 조건에 맞는 값 구하기
cond = (df['year']==2022) & (df['month']==5)
print(df[cond]['Sales'].median())

1477685.0