## 나이 구간 나누기
###  basic1 데이터 중 'age'컬럼 이상치를 제거하고, 동일한 개수로 나이 순으로 3그룹으로 나눈 뒤 각 그룹의 중앙값을 더하시오
### (이상치는 음수(0포함), 소수점 값)
- data: basic1.csv
- 오른쪽 상단 copy&edit 클릭 -> 예상문제 풀이 시작

## 나의 코드

In [1]:
# 라이브러리 및 데이터 불러오기
import pandas as pd
import numpy as np
data = pd.read_csv("/kaggle/input/bigdatacertificationkr/basic1.csv")
data.head(5)

     id   age city    f1  f2   f3    f4         f5
0  id01   2.0   서울   NaN   0  NaN  ENFJ  91.297791
1  id02   9.0   서울  70.0   1  NaN  ENFJ  60.339826
2  id03  27.0   서울  61.0   1  NaN  ISTJ  17.252986
3  id04  75.0   서울   NaN   2  NaN  INFP  52.667078
4  id05  24.0   서울  85.0   2  NaN  ISFJ  29.269869

In [2]:
# basic1 데이터 중 'age'컬럼 이상치를 제거하기 (이상치는 음수(0포함), 소수점 값)
outlier = (data['age'] - np.floor(data['age']) != 0) | (data['age'] <= 0)
data2 = data[~outlier]
print(len(data), len(data2))

100 90

In [3]:
# 데이터를 나이 순으로 동일한 개수의 3그룹으로 나누기
# 참고) 예시답안은 pd.qcut()을 이용함
data2 = data2.sort_values('age')
group1 = data2.iloc[:30]
group2 = data2.iloc[30:60]
group3 = data2.iloc[60:90]

print(len(group1), len(group2), len(group3))

30 30 30

In [4]:
# 각 그룹의 (나이) 중앙값을 더하여 최종 결과 출력하기
g1_m = group1['age'].median()
g2_m = group2['age'].median()
g3_m = group3['age'].median()

print(g1_m + g2_m + g3_m)

165.0

## 풀이 (예시답안)

In [5]:
import pandas as pd

In [6]:
df = pd.read_csv('../input/bigdatacertificationkr/basic1.csv')

In [7]:
# age 이상치 (음수(0포함), 소수점 제거)
print('전체 데이터:', df.shape)
df = df[~(df['age'] <= 0)]
print('음수(0포함)값 제거 후 데이터 크기:', df.shape)

df = df[(df['age'] == round(df['age'],0))]
print('소수점 제거 후 데이터 크기:', df.shape)

전체 데이터: (100, 8)
음수(0포함)값 제거 후 데이터 크기: (96, 8)
소수점 제거 후 데이터 크기: (90, 8)

In [8]:
df.head()

     id   age city    f1  f2   f3    f4         f5
0  id01   2.0   서울   NaN   0  NaN  ENFJ  91.297791
1  id02   9.0   서울  70.0   1  NaN  ENFJ  60.339826
2  id03  27.0   서울  61.0   1  NaN  ISTJ  17.252986
3  id04  75.0   서울   NaN   2  NaN  INFP  52.667078
4  id05  24.0   서울  85.0   2  NaN  ISFJ  29.269869

In [9]:
# 기준 확인
pd.qcut(df['age'], q=3)

0      (0.999, 38.667]
1      (0.999, 38.667]
2      (0.999, 38.667]
3      (73.333, 100.0]
4      (0.999, 38.667]
            ...
95     (73.333, 100.0]
96     (73.333, 100.0]
97    (38.667, 73.333]
98     (0.999, 38.667]
99    (38.667, 73.333]
Name: age, Length: 90, dtype: category
Categories (3, interval[float64, right]): [(0.999, 38.667] < (38.667, 73.333] < (73.333, 100.0]]

In [10]:
# 구간 분할
df['range'] = pd.qcut(df['age'], q=3, labels=['group1','group2','group3'])

In [11]:
# 수량 비교
df['range'].value_counts()

group1    30
group2    30
group3    30
Name: range, dtype: int64

In [12]:
# 중간이상 - 중간이하 
g1_med = df[df['range'] == 'group1']['age'].median()
g2_med = df[df['range'] == 'group2']['age'].median()
g3_med = df[df['range'] == 'group3']['age'].median()

print(g1_med + g2_med + g3_med)

165.0