<a href="https://colab.research.google.com/github/SYWoo02/Engineer_BigData_Analysis_10/blob/main/basic_study1_py.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# IMPORTANT: RUN THIS CELL IN ORDER TO IMPORT YOUR KAGGLE DATA SOURCES,
# THEN FEEL FREE TO DELETE THIS CELL.
# NOTE: THIS NOTEBOOK ENVIRONMENT DIFFERS FROM KAGGLE'S PYTHON
# ENVIRONMENT SO THERE MAY BE MISSING LIBRARIES USED BY YOUR
# NOTEBOOK.
import kagglehub
agileteam_bigdatacertificationkr_path = kagglehub.dataset_download('agileteam/bigdatacertificationkr')

print('Data source import complete.')

Data source import complete.

In [2]:
import pandas as pd
df = pd.read_csv("/kaggle/input/bigdatacertificationkr/payment.csv")
df

        date  hour    menu  price
0   20221129    13    딸기라떼   4000
1   20221130    12    카페라떼   3000
2   20221201    14   바닐라라떼   3500
3   20221201    16    초코라떼   3500
4   20221202    17    모카라떼   3500
5   20221202    12   카라멜라떼   3500
6   20221203     8   챠이 라떼   3500
7   20221203     9   아메리카노   2000
8   20221203    15   오곡 라떼   4000
9   20221203    16   아메리카노   2000
10  20221225    10   아메리카노   2000
11  20221225    14  토피넛 라떼   4000
12  20221225    16   카페 라떼   3000

## 1. 가장 많이 판매된 메뉴(menu)는 무엇인가?
힌트: 메뉴별 판매량을 세어보세요.

In [26]:
freq = df['menu'].value_counts() # 기본적으로 내림차순 정렬
freq

menu
아메리카노     3
카페라떼      1
딸기라떼      1
바닐라라떼     1
초코라떼      1
카라멜라떼     1
모카라떼      1
챠이 라떼     1
오곡 라떼     1
토피넛 라떼    1
카페 라떼     1
Name: count, dtype: int64

In [27]:
freq.index[0]

'아메리카노'

## 2. 가격(price)이 3500원 이상인 결제 건수는 몇 건인가?
힌트: 조건 필터링 후 건수를 세어보세요.

In [28]:
cdt = df['price'] >= 3500
len(df[cdt])

8

In [34]:
len(df[df['price'] >= 3500])

8

## 3. 결제된 메뉴별로 평균 가격을 구하시오.

In [33]:
df.groupby('menu')['price'].mean()

menu
딸기라떼      4000.0
모카라떼      3500.0
바닐라라떼     3500.0
아메리카노     2000.0
오곡 라떼     4000.0
챠이 라떼     3500.0
초코라떼      3500.0
카라멜라떼     3500.0
카페 라떼     3000.0
카페라떼      3000.0
토피넛 라떼    4000.0
Name: price, dtype: float64

In [ ]:
# 1. 가장 많이 판매된 메뉴(menu)는 무엇인가?
df['menu'].value_counts()

In [ ]:
# 2. 가격이 3500원 이상인 결제 건수는?
cond = df['price'] >= 3500
len(df[cond])

In [ ]:
# 3. 메뉴별 평균 가격 구하기
df.groupby('menu')['price'].mean()