## Q. 수학, 영어, 국어 점수 중 사람과 과목에 상관없이 가장 상위 점수 5개를 모두 더하고 출력하시오.
- updated 22.12.2

In [1]:
import pandas as pd
df = pd.DataFrame({'Name': {0: '김딴짓', 1: '박분기', 2: '이퇴근'},
                   '수학': {0: 90, 1: 93, 2: 85},
                   '영어': {0: 92, 1: 84, 2: 86},
                   '국어': {0: 91, 1: 94, 2: 83},})

df

  Name  수학  영어  국어
0  김딴짓  90  92  91
1  박분기  93  84  94
2  이퇴근  85  86  83

## 나의 코드

In [2]:
# 'Name' 칼럼 제외하고 열 -> 행으로 melt
data = pd.melt(df,['Name'])

# melt된 점수들 (value) 기준으로 내림차순, 상위 점수 5개 추출
top5 = data.sort_values('value',ascending=False).head(5)

# 추출한 상위 점수 5개의 총합 출력
print(top5['value'].sum())

460

## 풀이 (예시답안)

In [3]:
df = pd.melt(df, id_vars=['Name'])
df = df.sort_values(by='value', ascending=False)
print(sum(df['value'].iloc[:5]))

460